@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button.btn,
  a.btn {
    background-color: var(--btn-bg);
    background-image: var(--btn-noise);
    color: var(--btn-fg);
    border-color: var(--btn-border);
  }
}
